.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__model
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__note {
        position: absolute;
        animation: zoom 1s infinite;
    }

    &__circle {
        animation: rotating 1s infinite;
    }

    &__title {
      color: white;
      text-transform: uppercase;
    }
}

@keyframes zoom {
  100% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  0% {
    transform: scale(0.9);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}