@import "tailwindcss";

:root {
  --background: #171719;
  --foreground: #171717;

  --accent: #679efe;
  --accent-shadow: rgb(103, 158, 254, 0.2);
  --accent-dark: #4d85e8;
  --accent-blue: #4d85e8;
  --accent-light: #93b9ff;
  --accent-transparent: #679efe11;

  --main-background: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  background-color: #0a0a0a;
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.ant-form-item-explain-error {
  @apply !text-rose-500 !font-semibold !text-[14px]
}
