$accent: #679efe;
$accent-dark: #4d85e8;
$accent-grey: hsl(219, 77%, 71%);
$accent-light: #93b9ff;
$login-description: #bad2ffd2;
$accent-darkness: #222b3b;

$main-background: #0a0a0a;
$background-light: #181818;
$orange: #fab392;