.artist-top {
    position: relative;
    width: 100%;
    padding-top: 50px;
    display: flex;
    gap: 20px;

    &__description {
        font-size: 14px;
        position: relative;
        z-index: 100;        
    }

        &__content {
        height: inherit;
        display: flex;
        flex-direction: column;
    }

    &__bottom {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
    }

    &__image {
        border-radius: 8px;
        position: relative;
        height: 200px;
        width: 200px;
        object-fit: cover;
        z-index: 10;
        border-radius: 100%;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: blur(35px);
        opacity: 0.7;
        transform: scale(1.5); 
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        position: relative;
        z-index: 10;
    }

    &__btn-delete {
        position: relative;
        z-index: 100;
        width: fit-content;

        display: flex;
        gap: 5px;
        font-size: 12px;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        background-color: rgba(240, 248, 255, 0.05);
        font-weight: 500;
        border-radius: 15px;

        color: rgb(255, 255, 255, 0.5);
        transition: 0.4s color;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__btn-text {
        display: none;
    }


    @media (hover:hover) {
        &__btn-delete:hover {
            color: white;
            // border: 0.5px solid white;
        }
        
        &__btn-delete:hover  &__btn-text {
            display: block;
        }
    }
}