.track-top {
    position: relative;
    width: 100%;
    padding-top: 50px;

    display: flex;
    gap: 20px;

    &__description {
        font-size: 14px;
        position: relative;
        z-index: 100;        
    }

    &__artist {
        font-size: 14px;
        position: relative;
        z-index: 10;
        display: block;

        margin-bottom: 10px;
        color: $accent-grey;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__content {
        height: inherit;
        display: flex;
        flex-direction: column;
    }

    &__bottom {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
    }

    &__player {
        position: relative !important;
        top: 0px;
        left: 0px;
    }



    &__image {
        border-radius: 8px;
        position: relative;
        height: 200px;
        width: 200px;
        object-fit: cover;
        z-index: 10;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: blur(35px);
        opacity: 0.7;
        transform: scale(1.5); 
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        position: relative;
        z-index: 10;
    }
}