.toster-provider {
  position: absolute;
  width: calc(100% - 40px);
  z-index: 102;
  border-radius: 12px;
  overflow: hidden;
  transform: translateX(110%);
  
  &_show {
    animation: show 0.6s ease-out forwards;
  }

  &_hide {
    animation: hide 0.6s ease-in forwards;
  }

  &_bottom {
    bottom: 20px;
    right: 20px;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
  }

  &_top {
    top: 20px;
    right: 20px;
  }

  &__content {
    position: relative;
    padding: 10px 12px;
    border-radius: 12px;
    background:
      linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)) padding-box,
      linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1)) border-box;
    border: 2px solid transparent;
    backdrop-filter: blur(10px);
  }

  &__loader-content {
    display: flex;
    gap: 10px;
    height: 50px;
    align-items: center;
  }

  &__loader-text {
    font-size: 16px;
    font-weight: 600;
  }

  &__loader {
    :global(.loader) {
      width: 50px;
      transform: scale(0.5);
    }
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 3px;
    width: var(--progress);
    background-color: white;
    transition: width 0.1s linear;
  }

  @media screen and (min-width: 1200px) {
    max-width: 380px;
  }

  @media (hover: hover) and (pointer: fine) {
    &__btn:hover {
        background-color: rgb(255, 255, 255, 0.1);
    }
  }
}

@keyframes show {
  from { transform: translateX(110%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes hide {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(110%); opacity: 0; }
}
