.sidebar {
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: #181818;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;

    &__content {
        width: 100%;
        padding: 12px;
    }

    &__profile {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 10px;
    }

    &__profile-right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__profile-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    &__profile-btn {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        padding: 5px;
        color: rgba(255, 255, 255, 0.375);
        border-radius: 100%;
    }

    &__group-name {
        color: #9898A6;
        font-size: 12px;
        font-weight: 500;
    }

    &__group-image {
        border-radius: 8px;
        width: 35px;   
        object-fit: cover;
        height: 35px;
    }

    &__group-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 12px;
    }

    &__group-list_myplaylist {
        overflow-y: scroll;
        max-height: 200px;
        scrollbar-width: thin;         
        scrollbar-color: rgba(142, 142, 142, 0.126) transparent;  
    }

    &__group-link {
        display: flex;
        gap: 10px;
        cursor: pointer;
        align-items: center;
    }

    &__group-item {
        display: flex;
        gap: 10px;
        cursor: pointer;
        align-items: center;
        color: rgba(255, 255, 255, 0.575);

        transition: 0.4s color background-color ease-in;
        padding-block: 2.5px;
        padding-inline: 5px;
    }

    &__group-item:hover a {
        color: rgba(255, 255, 255, 0.575) !important;
    }
    
    &__handle {
        width: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-right: rgba(85, 136, 255, 0.15) 1px solid;
        transition: border-right 0.2s, width 0.2s;
        background-color: black;
        cursor: w-resize;

        &:hover {
            border-right: rgba(85, 136, 255, 0.7) 1px solid;
            width: 15px;
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &__profile-btn:hover {
            color: white;
            background-color: #ffffff38;
        }

        &__group-item:hover {
            color: white;
            background-color: #ffffff38;
        }

        &__group-item:hover a {
            color: white;
        }
    }
}