.music-group {
    margin-top: 50px;
    margin-bottom: 50px;

    &__modal {
        
        color: white;

    }

    &__modal .ant-modal-title {
        color: white;
    }

    &__modal .ant-modal-content, &__modal .ant-modal-header {
        background-color: $background-light;
        color: white;
    }

    &__content {
        display: flex;
        gap: 30px;
        width: 100%;
    
        position: relative;
    }

    &__btn-add {
        border-radius: 12px;
        padding: 8px;
        margin-left: 8px;
        border: 2px solid white;
        cursor: pointer;
    }

    &__title {
        font-weight: 800;
        font-size: 24px;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }

    &__right button:last-child {
        margin-left: 5px;
    }

    &__btn {
        padding: 12px;
        border-radius: 100%;
        border: #ebebff23 1px solid;
        background-color: #171718;
        cursor: pointer;

        svg {
            transition: 0.4s;
        }
    }

    @media (hover: hover) {
        &__btn:hover svg, &__btn:focus-within svg   {
            fill: #679efe;
        }

        &__btn-add:hover, &__btn-add:focus-within {
            border-radius: 12px;
            padding: 8px;
            margin-left: 8px;
            border: 2px solid #679efe;
            cursor: pointer;
        }

        &__btn-add:hover svg, &__btn-add:focus-within svg {
            fill:  #679efe;
        }
    }
}

.music-group .splide {
  padding: 5px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.splide__pagination__page.is-active {
    background-color: rgb(103, 158, 254);
}