.header 
{
    padding-inline: 12px;
    padding-top: 10px;
    position: fixed;
    display: flex;
    // max-width: fit-content;
    width: 100%;
    z-index: 100;
    top: 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 415px);
        gap: 10px;
    }

    &__right {
        // width: 100%;
        right: 0px;
        left: 0px;
    }

    &__btn {
        padding: 12px;
        border-radius: 100%;
        border: #ebebff23 1px solid;
        background-color: #171718;
        cursor: pointer;

        svg {
            transition: 0.4s;
        }
    }

    &__left {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    @media (hover: hover) {
        &__btn:hover svg, &__btn:focus-within svg   {
            fill: #679efe;
        }
    }

    @media screen and (min-width: 1024px) {
        padding-inline: 20px;
        padding-top: 12px;

        &__right {
            // max-width: 360px;
        }
    }
}