.card {
    border-radius: 12px;
    width: 100%;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    transition: background 0.4s;
    flex-shrink: 0;
    cursor: pointer;

    &__player {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        position: absolute;
        top: -20px;
        z-index: 100;
        right: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_large {
        border-radius: 8px;
        padding: 0px;
        position: relative;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    &_large &__image {
        border-radius: 0px;
    }  
    
    &__content-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: blur(35px);
        opacity: 0.6;
        transform: scale(1.5); 
    }

    &__content {
        max-width: 100%;
        width: 100%;
        // overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        z-index: 2; 
        margin-top: 12px
    }

    &__content_large {
        padding: 10px;
        margin-top: 0px;
        padding-bottom: 20px;
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        position: relative;
        z-index: 10;
    }

    &_large &__title {
        font-size: 18px;
    }

    &__description {
        font-size: 14px;
        font-weight: 700;
        color: #fcfcfc6c;
        z-index: 10;
        position: relative;
    }

    &_large &__description {
        font-size: 14px;
    }

    &__subtitle {
        font-size: 12px;
        font-weight: 600;
        color: #EF2F62;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
    }

    @media (hover: hover) {
        &:hover {
            background-color: #171718;
        }
    }

    @media screen and (max-width: 376px) {
        max-width: 345px;
    }

    
}