.searcher {
    width: 100%;
    position: relative;
    cursor: pointer;
    z-index: 100;

    border: #ebebff23 1px solid;
    border-radius: 12px;
    background-color: #171718;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-inline: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        display: block;
    }

    &__input {
        flex-grow: 1;
    }

    &__input:focus-within {
        outline: none;
    }

    &__list {
        max-height: 350px;
        overflow: auto;
        scrollbar-width: thin;        
        scrollbar-color: rgba(142, 142, 142, 0.126) transparent
    }

    &__modal {
        background-color: #171718;
        border-radius: 10px;
        padding: 5px;
        padding-inline: 10px;


        position: absolute;
        z-index: 1000;
        width: 100%;
    }

    &__item {
        display: flex;
        gap: 10px;
        padding-inline: 10px;
        padding-block: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    &__item-image {
        width: 50px;
        object-fit: cover;
        border-radius: 10px;
        flex-shrink: 0;
    }

    &__item-right {
        display: flex;
        flex-direction: column;
        gap: 1px;
        position: relative;
        z-index: 101;
    }

    &__item-name {
        font-size: 16px;
        font-weight: 600;
    }

    
    @media (hover: hover) {
        &__item:hover {
            background-color: #232325;
        }
    }
}