.room-view {
    width: 100%;

    &__list { width: 100%; }

    &__title {
      color: white;
      font-size: 32px;
      font-weight: 600;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        margin-top: 10px;
    }

    &__count > .ant-statistic,
    &__count > .ant-statistic > .ant-statistic-title{
        width: 100%;
    }

    &__table {
        width: 100%;
        max-width: 600px;
    }

    &__description {
        color: rgba(255, 255, 255, 0.25);
        display: block;
        padding-top: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    &__list-username {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        &__list {
            display: flex;
            width: 100%;
            gap: 50px;
        }
    }
}