.playlist-top {
    position: relative;
    width: 100%;
    padding-top: 50px;
    max-height: 200px;

    display: flex;
    gap: 20px;

    &__image {
        border-radius: 8px;
        position: relative;
        height: 200px;
        width: 200px;
        object-fit: cover;
        z-index: 10;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: blur(35px);
        opacity: 0.7;
        transform: scale(1.5); 
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        position: relative;
        z-index: 10;
    }
}