.friends-top {
    padding-top: 50px;

    &__title {
        font-size: 44px;
        font-weight: 700;
        position: relative;
        z-index: 10;

        overflow-wrap: break-word;
    }

    @media screen and (max-width: 426px) {
        &__title {
            font-size: 32px;
        }
    }
}